* {
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
    box-sizing: border-box;
    color: white;
}

body {
    background: linear-gradient(180deg, #191E29 0%, #132D46 53%);
    display: flex;
    flex-direction: column;
    height: auto;
}

.container > main {
    flex: 1;
}

header {
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header > h1 {
    margin-left: 0.625rem;
    font-family: "M PLUS 2";
    font-size: 1.563rem;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 1.25rem;
    font-family: "Inter";
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.188rem;
    transition: 100ms;
    transition: 300ms;
}

.navbar a:hover,
.navbar a:active{
    color:#01C38D
}


.navbar {
    margin-right: 2.188rem;
}   

.circulo {
    width: 19.563rem; 
    height: 19.438rem; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #01C38D; 
    box-shadow: 25rem 25rem 25rem; 
    border-radius: 624.938rem; 
    filter: blur(25rem)
}

.logo-login {
    width: 19.563rem; 
    height: 19.438rem; 
    position: absolute;
    top: 3.125rem;
}

.circulo-login {
    right: 1.25rem;
    width: 19.563rem; 
    height: 19.438rem; 
    left: 0px; 
    top: 50%; 
    position: absolute; 
    background: #01C38D; 
    box-shadow: 25rem 25rem 25rem; 
    border-radius: 624.938rem;  
    filter: blur(25rem)
}

.cifrao {
    width: 4.875rem; 
    height: 12.296rem; 
    left: 7.5rem; 
    top: 2.794rem; 
    position: absolute; 
    color: #01C38D; 
    font-size: 8rem; 
    font-family: Kdam Thmor Pro; 
    font-weight: 400; 
    word-wrap: break-word
}

.financas {
    width: 19.25rem; 
    height: 3.043rem; 
    left: 0.313rem; 
    top: 13.662rem; 
    position: absolute; 
    color: #01C38D; 
    font-size: 2rem; 
    font-family: Kdam Thmor Pro; 
    font-weight: 400; 
    word-wrap: break-word
}

.logo {
    display: flex;
    width: 19.563rem; 
    height: 19.438rem; 
    position: relative
}


.logo {
    margin: auto;
}

.titulo {
    color: #01C38D; 
    font-size: 2.25rem; 
    font-family: Inter; 
    font-weight: 700; 
    word-wrap: break-word;
    margin-left: 4.375rem;
}

.info {
    width: 73.813rem; 
    height: 10.875rem; 
    position: relative;
    margin: auto;
    margin-top: 3.125rem;
}

.descricao {
    width: 41.938rem; 
    height: 10.875rem; 
    left: 31.875rem; 
    top: 0px; 
    position: absolute; 
    color: white; 
    font-size: 1.5rem; 
    font-family: Inter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.funcionalidades {
    width: 85.5rem; 
    height: 33.75rem; 
    position: relative;
    margin: auto;
    margin-top: 9.375rem;
}

.contain1 {
    width: 26.5rem; 
    height: 15.875rem; 
    left: 58.938rem; 
    top: 8.938rem; 
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.contain2 {
    width: 26.5rem; 
    height: 15.875rem; 
    left: 29.5rem; 
    top: 8.938rem; 
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.contain3 {
    width: 26.5rem; 
    height: 15.875rem; 
    left: 0px; 
    top: 8.938rem; 
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.card1 {
    width: 26.5rem; 
    height: 15.875rem; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 0.938rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.313rem 0.938rem;
}

.contain:hover {
    transform: scale(1.1);
    transition: 200ms;
    transition: all ease-in-out 0.3s;
}

.card2{
    width: 26.5rem; 
    height: 15.875rem; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 0.938rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.313rem 0.938rem;
}

.card3 {
    width: 26.5rem; 
    height: 15.875rem; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #D9D9D9; 
    border-radius: 0.938rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.313rem 0.938rem;
}


.titulos1 {
    left: 3.813rem; 
    top: 1.313rem; 
    position: absolute; 
    color: #132D46; 
    font-size: 1.875rem; 
    font-family: Arial; 
    font-weight: bold; 
    word-wrap: break-word;
}

.titulos2 {
    left: 2.313rem; 
    top: 1.313rem; 
    position: absolute; 
    color: #132D46; 
    font-size: 1.875; 
    font-family: Arial; 
    font-weight: bold; 
    word-wrap: break-word;
}

.titulos3 {
    left: 4.813rem; 
    top: 1.313rem; 
    position: absolute; 
    color: #132D46; 
    font-size: 1.875rem; 
    font-family: Arial; 
    font-weight: bold;
    word-wrap: break-word;
}

.description1 {
    width: 18.688rem; 
    left: 3.875rem; 
    top: 5.125rem; 
    position: absolute; 
    color: black; 
    font-size: 1.125rem; 
    font-family: Arial; 
    font-weight: 400; 
    word-wrap: break-word;
}

.description2 {
    width: 18.688rem; 
    left: 3.875rem; 
    top: 5.375rem; 
    position: absolute; 
    color: black; 
    font-size: 1.125rem; 
    font-family: Arial; 
    font-weight: 400; 
    word-wrap: break-word;
}

.description3 {
    width: 18.688rem; 
    left: 3.875rem; 
    top: 5.125rem; 
    position: absolute; 
    color: black; 
    font-size: 1.125rem; 
    font-family: Arial; 
    font-weight: 400; 
    word-wrap: break-word;
}

.principal {
    left: 32.813rem; 
    top: 0px; 
    position: absolute; 
    color: white; 
    font-size: 2.5rem; 
    font-family: M PLUS 2; 
    font-weight: 800; 
    word-wrap: break-word;
}

.geral {
    display: flex;
    justify-content: center;
}

.geral-login {
    display: flex;
    justify-content: center;
    margin: 9.375rem 0 4.375rem;

}

.registrar {
    width: 26.25rem;
    background-color: transparent;
    color: white;
    padding: 1.875rem 2.5rem;
    font-family: M PLUS 2;
    border: 0.125rem solid #999999;
    border-radius: 1.25rem;
    margin-bottom: 6.25rem;
}

.registrar-login {
    width: 26.25rem;
    background-color: transparent;
    color: white;
    padding: 1.875rem 2.5rem;
    font-family: M PLUS 2;
    border: 0.125rem solid #999999;
    border-radius: 1.25rem;
    margin-bottom: 6.25rem;
}

.registrar > form > h1{
    font-size: 1.875rem;
    text-align: center;
}

.registrar-login > form > h1{
    font-size: 1.875rem;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 3.125rem;
    margin: 1.875rem 0px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0.125rem solid white;
    border-radius: 0.938rem;
    outline: none;
    font-size: 1rem;
    color: white;
    padding: 1.25rem 2.188rem 1.25rem 1.25rem;
}

.input-box input::placeholder {
    color: rgb(189, 189, 189);
}

.remember-forgot{
    display: flex;
    justify-content: space-between;
    margin: -0.938rem 0 0.938rem;
}

.remember-forgot label input {
    accent-color: white;
    margin-right: 0.313rem;
}

.remember-forgot a {
    text-decoration: none;
    color: white;

}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login {
    width: 100%;
    height: 3.125rem;
    background-color: #01C38D; 
    border: none;
    border-radius: 0.938rem;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 0.625rem 1.25rem, rgba(0, 0, 0, 0.23) 0px 0.375rem 0.375rem;
    margin-top: 0.625rem;
}

.login:hover{
    background-color: transparent;
    border: 0.125rem solid white;
    color: white;
    transition: 500ms;
}

.login-link {
    font-size: 0.875rem;
    text-align: center;
    margin: 1.25rem 0 1.563rem;
}

.login-link a {
    text-decoration: none;
    color: #01C38D; 
    font-weight: 600;
}

.login-link a:hover {
    text-decoration: underline;
}








/* --------------------------------------------- Footer --------------------------------------------- */
footer {
    display: flex;
    gap: 1.875rem;
    background-color: #191E29;
    padding: 2.5rem 0 2.5rem;
}

.contato {
    margin-left: 3.125rem;
}

.contato > h3 {
    margin: 0.625rem;
}

.contato > p {
    margin: 0.625rem;
}


.suporte > h3{
    margin: 0.625rem;
}

.suporte > p{
    margin: 0.625rem;
}